html {
	scroll-behavior: smooth;


}

header {
	text-transform: uppercase;
	padding-bottom: 7rem;
	
	font-family: "Merriweather", serif;
	font-size:110%;
}

body {
	background-color: rgb(36, 36, 36);
}

/* de aici incepe nav ul  */


.nav {
	position: fixed;
	z-index: 1;
	width: calc(100vw -4rem);
	box-shadow: 0 0 10px black;
	background-color: darkslategrey;
	border-radius: 15px;
	right: 1.5rem;
	left: 1.5rem;
}

.navList {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 2rem;
	margin: 0 2rem;
	margin-right: 5rem;
	color: azure;
}

#verticalNav {
	position: Sticky;
}

.navListLogo {
	list-style: none;
	margin-right: auto;
	font-weight: bold;
	font-size: 130%;
	white-space: nowrap;

	/* hover effect */

	transition: color 0.2s ease-in-out; 


	/*animatie simpla */

	/* animation: colorChange 4s infinite; */ 
}

/* animatie simpla */

/* @keyframes colorChange {
  0% { color: azure; }
  50% { color: rgb(33, 56, 56); }
  100% { color: azure; }
} */


/*hover effect*/

.navListLogo:hover {
	cursor: pointer;
	color: rgb(33, 56, 56);
}


/* animatie cu before and after */

/* .navListLogo::before,
.navListLogo::after {
  content: "";
  position: absolute;
	top: 1rem;
  left: 3.5rem;
  width: 21%;
  height: 50%;
	z-index:-1;
	border-radius:10px;
}

.navListLogo::before {
  animation: beforeColorChange 4s infinite;
}

.navListLogo::after {
  animation: afterColorChange 4s infinite;
}

@keyframes beforeColorChange {
  0% { background-color: darkslategrey; }
  50% { background-color: rgb(33, 56, 56); }
  100% { background-color: darkslategrey; }
}

@keyframes afterColorChange {
  0% { background-color: darkslategrey; }
  50% { background-color: rgb(33, 56, 56); }
  100% { background-color: darkslategrey; }
} */

.navListItem {
	list-style: none;
	position: relative;
	padding: 1.5rem 1rem;
	cursor: pointer;
	font-size: 90%;
}


a {
	text-decoration: none;
	color: inherit;
	display: block;
	width: 100%;
	height: 100%;
}


#logo {
	cursor: default;
}

#butonStiluri {
	cursor: default;
}

.navListItemDropdownItem {
	cursor: pointer;
}

#butonTrivia {
	transition: color 0.2s ease-in-out;
}

#butonTrivia:hover {
	color: rgb(33, 56, 56);
}

.navListItem:hover .navListItemDropdown {
	opacity: 1;
	visibility: visible;
}

.navListItemDropdown {
	position: absolute;
	top: 100%;
	left: -1rem;
	box-shadow: 0 0 10px black;
	border-radius: 0 0 10px 10px;
	width: auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity 200ms ease-in-out;
	background-color: rgb(33, 56, 56);
}

.navListItemDropdownItem {
	list-style: none;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	transition: background-color 200ms ease-in-out;
	white-space: nowrap;
}

.navListItemDropdownItem:hover {
	background-color: #2f4f4f;
}


/* main  */

.evidentiereSpan {

	font-weight: bold;
}

.cards {
	display: grid;
	margin-right: 1.75rem;
	border-radius: 25px;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	gap: 3rem;
	grid-template-areas:
		"primul-card primul-card primul-card"
		"card-baroc card-victorian card-artnouveau";
}


.cards li {
	border: 1.5px solid darkslategrey;
	margin-bottom: 1em;
	border-radius: 10px;
	transition: background-color 0.5s ease-in-out;
}

.cards li:hover h1 {
	background-color: darkslategrey;
	cursor: default;
}

.cards li:hover h2 {
	background-color: darkslategrey;
	cursor: default;
}

.cards li:hover .innerText {
	background-color: rgb(33, 56, 56);
	cursor: default;
}

.cards li:hover {
	background-color: darkslategrey;
	cursor: default;
}

.cards h2,
h1 {
	background: #242424;
	margin: 0;
	padding: 0.5em 1em;
	color: azure;
	transition: background-color 0.5s ease-in-out;
	font-family: "Merriweather", serif;
}

.cards .inner {
	list-style: none;
	background-color: rgb(36, 36, 36);
	padding: 0.5em 1em;
}

.innerText {
	background-color: darkslategrey;
	color: azure;
	padding: 0.5em 1em;
	border-radius: 15px;
	transition: background-color 0.5s ease-in-out;
}

.imagineCard {
	height: fit-content;
	width: 100%;
	border-radius: 10px;
}

#imagineBaroc {
	margin-top: 52px;
}

#imagineVictorian {
	/* height: 67%; */
	aspect-ratio: 1/1;
	margin-top: 71px;
}

#imagineArtNouveau{
	margin-top: 13px;

}

#imagineArtDeco {
	margin-top: 0;
}

#imagineModern {
	margin-top: 19px;
}

#imagineGotic {
	margin-top: 40px;
}

img {
	height: fit-content;
	width: 100%;
	border-radius: 10px;
}

#primulCard {
	grid-area: primul-card;
	/* animation: slideLeftPrimulCard 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s both; */
}

/* @keyframes slideLeftPrimulCard {
	0% {
	  transform: translateX(1000px);
	}
	100% {
	  transform: translateX(0);
	}
} */


#cardBaroc {
	grid-area: card-baroc;
	animation: slideLeftBaroc 2s ease-in-out 1s both;
}

@keyframes slideLeftBaroc {
	0% {
		transform: translateX(350%);
	}

	100% {
		transform: translateX(0);
	}
}

#cardVictorian {
	grid-area: card-victorian;
	animation: slideLeftVictorian 2.5s ease-in-out 1s both;
}

@keyframes slideLeftVictorian {
	0% {
		transform: translateX(450%);
	}

	100% {
		transform: translateX(0);
	}
}

#cardArtNouveau {
	grid-area: card-artnouveau;
	animation: slideLeftArtNouveau 3s ease-in-out 1s both;
}

@keyframes slideLeftArtNouveau {
	0% {
		transform: translateX(550%);
	}

	100% {
		transform: translateX(0);
	}
}

#cardArtDeco {
	animation: slideRightArtDeco 3s ease-in-out 5s both;
}

@keyframes slideRightArtDeco {
	0% {
		transform: translateX(-550%);
	}

	100% {
		transform: translateX(0);
	}
}

#cardModern {
	animation: slideRightModern 2.5s ease-in-out 5s both;
}

@keyframes slideRightModern {
	0% {
		transform: translateX(-450%);
	}

	100% {
		transform: translateX(0);
	}
}

#cardGotic {
	animation: slideRightGotic 2s ease-in-out 5s both;
}

@keyframes slideRightGotic {
	0% {
		transform: translateX(-350%);
	}

	100% {
		transform: translateX(0);
	}
}








/* responsive  */

/* ecran mic navbar */
@media (max-width: 45em) {
	.navListLogo {
		font-size: 70%;
	}

	.navListItem {
		font-size: 60%;
	}

	.navList {
		justify-content: space-evenly;
		margin: 0 -0.5rem;
		margin-right: 1rem;
	}
}

/*ecran mediu grid */
@media (min-width: 45em) and (max-width: 75em) {
	.cards {
		display: grid;
		margin-right: 1.75rem;
		border-radius: 25px;
		grid-template-columns: 1fr 1fr;
		justify-content: space-between;
		gap: 3rem;
		grid-template-areas:
			"primul-card primul-card"
			"card-baroc card-victorian"
			" card-artnouveau card-artdeco";
	}

	#imagineBaroc {
		margin-top: 0px;
	}

	#imagineVictorian {
		margin-top: 18px;
	}
	#imagineArtDeco{
		margin-top: 33px;
	}

	#imagineModern {
		margin-top: 0px;
	}

	#imagineGotic {
		margin-top: 38px;
	}

	#cardBaroc {
		animation: slideLeftBarocMediu 2s ease-in-out 1s both;
	}

	@keyframes slideLeftBarocMediu {
		0% {
			transform: translateX(250%);
		}

		100% {
			transform: translateX(0);
		}
	}

	#cardVictorian {
		animation: slideLeftVictorianMediu 2.5s ease-in-out 1s both;
	}

	@keyframes slideLeftVictorianMediu {
		0% {
			transform: translateX(350%);
		}

		100% {
			transform: translateX(0);
		}
	}

	#cardArtNouveau {
		animation: slideRightArtNouveauMediu 3s ease-in-out 5s both;
	}

	@keyframes slideRightArtNouveauMediu {
		0% {
			transform: translateX(-350%);
		}

		100% {
			transform: translateX(0);
		}
	}

	#cardArtDeco {
		animation: slideRightArtDecoMediu 2.5s ease-in-out 5s both;
	}

	@keyframes slideRightArtDecoMediu {
		0% {
			transform: translateX(-250%);
		}

		100% {
			transform: translateX(0);
		}
	}

	#cardModern {
		animation: slideLeftModernMediu 2s ease-in-out 9s both;
	}

	@keyframes slideLeftModernMediu {
		0% {
			transform: translateX(250%);
		}

		100% {
			transform: translateX(0);
		}
	}

	#cardGotic {
		animation: slideLeftVictorianMediu 2.5s ease-in-out 9s both;
	}

	@keyframes slideLeftGoticMediu {
		0% {
			transform: translateX(350%);
		}

		100% {
			transform: translateX(0);
		}
	}

}



/* ecran mic grid */
@media(max-width:55em) {
	article {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.cards {
		width: 80%;
		display: grid;
		border-radius: 25px;
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		grid-template-areas:
			"primul-card"
			"card-baroc"
			"card-victorian "
			"card-artnouveau";
	}

	.inner {
		height: fit-content;
		justify-content: center;
	}

	#imagineBaroc {
		margin-top: 0px;
	}

	#imagineVictorian {

		margin-top: 0px;
	}

	#imagineModern {
		margin-top: 0px;
	}

	#imagineGotic {
		margin-top: 0px;
	}

	#cardBaroc {
		animation: slideLeftBarocMediu 2s ease-in-out 1s both;
	}

	@keyframes slideLeftBarocMediu {
		0% {
			transform: translateX(250%);
		}

		100% {
			transform: translateX(0);
		}
	}

	#cardVictorian {
		animation: slideRightVictorianMediu 2.5s ease-in-out 3s both;
	}

	@keyframes slideRightVictorianMediu {
		0% {
			transform: translateX(-350%);
		}

		100% {
			transform: translateX(0);
		}
	}

	#cardArtNouveau {
		animation: slideLeftArtNouveauMediu 3s ease-in-out 5s both;
	}

	@keyframes slideLeftArtNouveauMediu {
		0% {
			transform: translateX(350%);
		}

		100% {
			transform: translateX(0);
		}
	}

	#cardArtDeco {
		animation: slideRightArtDecoMediu 2.5s ease-in-out 7s both;
	}

	@keyframes slideRightArtDecoMediu {
		0% {
			transform: translateX(-250%);
		}

		100% {
			transform: translateX(0);
		}
	}

	#cardModern {
		animation: slideLeftModernMediu 2s ease-in-out 9s both;
	}

	@keyframes slideLeftModernMediu {
		0% {
			transform: translateX(250%);
		}

		100% {
			transform: translateX(0);
		}
	}

	#cardGotic {
		animation: slideRightVictorianMediu 2.5s ease-in-out 11s both;
	}

	@keyframes slideRightGoticMediu {
		0% {
			transform: translateX(-350%);
		}

		100% {
			transform: translateX(0);
		}
	}
}





/* footer{
	border-radius:15px;
	font-family: "Merriweather", serif;
	display:flex;
}
#logoFooter{
	background-color: darkslategrey;
	box-shadow: 0 0 10px black;
	border-radius: 15px;
	color:azure;
	padding-top:1.27rem;
	padding-bottom:1.27rem;
	padding-left:5rem;
	margin-left:1.2rem;
	margin-right:1.2rem;
	width:60%;
}
#nume{
	background-color: darkslategrey;
	box-shadow: 0 0 10px black;
	border-radius: 15px;
	color:azure;
	text-align: end;
	justify-content: center;
	padding-top:1.27rem;
	padding-bottom:1.27rem;
	padding-left:5rem;
	padding-right:5rem;
	margin-left:1.2rem;
	margin-right:1.2rem;
	width:50%;
} */

#divFooter{
	font-family: "Merriweather", serif;
	display:flex;
	justify-content: space-between;
	background-color: darkslategrey;
	box-shadow: 0 0 10px black;
	border-radius: 15px;
	color:azure;

	/* padding-top:0.01rem;
	padding-bottom:0.01rem; */

	padding-left:4.5rem;
	padding-right:4.5rem;
	margin-left:1.2rem;
	margin-right:1.2rem;
	margin-bottom:10px;
}

#nume{
	padding-top:0.2rem;
	color:azure;
	transition: color 0.2s ease-in-out;
}
#nume:hover{
	color:rgb(33, 56, 56);
	cursor:pointer;
}

#logoFooter{
	color:azure;
	transition: color 0.2s ease-in-out;
}
#logoFooter:hover{
	color:rgb(33, 56, 56);
	cursor:pointer;
}

